<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="global_env_pcd2_topic" value="/random_forest/all_map" />
  <arg name="map_size_x" default="1000.0" />
  <arg name="map_size_y" default="1000.0" />
  <arg name="map_size_z" default="1.5" />
  <arg name="origin_x" default="-500.0" />
  <arg name="origin_y" default="-500.0" />
  <arg name="obs_num" default="5000" />
  <arg name="circle_num" default="5000" />
  <arg name="map_type" default="random_large" />
  <arg name="map_resolution" default="0.5" />

  <arg name="voxel_leaf_size" default="1.2" />

  <include file="$(find path_finder)/launch/map.launch" pass_all_args="false">
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="obs_num" value="$(arg obs_num)"/>
    <arg name="circle_num" value="$(arg circle_num)"/>
    <arg name="map_type" value="$(arg map_type)"/>
    <arg name="map_resolution" value="$(arg map_resolution)"/>
  </include>

  <arg name="origin_z" value="-1.0" />
  <arg name="resolution" value="0.5" />

  <arg name="steer_length" value="1" />
  <arg name="search_radius" value="60.0" />
  <arg name="search_time" value="5.0" />
  <arg name="max_tree_node_nums" value="50000" />     

  <arg name="use_informed_sampling" value="true" />
  <arg name="use_GUILD_sampling" value="false" />
  <arg name="run_rrt" value="false" />
  <arg name="run_rrt_star" value="false" />
  <arg name="run_rrt_sharp" value="false" />
  <arg name="run_brrt" value="true" />
  <arg name="run_brrt_star" value="false" />
  <arg name="run_brrt_optimize" value="true" />

  <arg name="brrt_optimize_p3" default="0.1" />
  <arg name="brrt_optimize_u_p" default="0.5" />
  <arg name="brrt_optimize_p1" default="1.0" />
  <arg name="brrt_step" default="5.0" />
  <arg name="brrt_alpha" default="7.0" />
  <arg name="brrt_beta" default="1.0" />
  <arg name="brrt_gamma" default="1.0" />
  <arg name="brrt_max_iteration" default="200000" />

  <arg name="step_by_step_vis" default="false" />
  <arg name="step_delay_ms" default="100" />
  <arg name="input_param" default="/home/phuong/DACN/ICIT/brrt_optimize/brrt_input.json" />
  <arg name="output_result" default="/home/phuong/DACN/ICIT/brrt_optimize/eval/invert/1000x1000/40.json" />

  <node pkg="path_finder" type="path_finder" name="path_finder_node" output="screen" required="true">
    <remap from="/global_cloud" to="$(arg global_env_pcd2_topic)"/>

    <param name="input_param" value="$(arg input_param)" type="string"/>
    <param name="output_result" value="$(arg output_result)" type="string"/>
    <param name="run_rrt" value="$(arg run_rrt)" type="bool"/>
    <param name="run_rrt_star" value="$(arg run_rrt_star)" type="bool"/>
    <param name="run_rrt_sharp" value="$(arg run_rrt_sharp)" type="bool"/>
    <param name="run_brrt" value="$(arg run_brrt)" type="bool"/>
    <param name="run_brrt_star" value="$(arg run_brrt_star)" type="bool"/>
    <param name="run_brrt_optimize" value="$(arg run_brrt_optimize)" type="bool"/>

    <param name="occ_map/origin_x" value="$(arg origin_x)" type="double"/>
    <param name="occ_map/origin_y" value="$(arg origin_y)" type="double"/>
    <param name="occ_map/origin_z" value="$(arg origin_z)" type="double"/>
    <param name="occ_map/map_size_x" value="$(arg map_size_x)" type="double"/>
    <param name="occ_map/map_size_y" value="$(arg map_size_y)" type="double"/>
    <param name="occ_map/map_size_z" value="$(arg map_size_z)" type="double"/>
    <param name="occ_map/resolution" value="$(arg resolution)" type="double"/>

    <!-- Downsample -->
    <param name="voxel_leaf_size" value="$(arg voxel_leaf_size)" type="double"/>

    <!-- Planner params -->
    <param name="RRT/steer_length" value="$(arg steer_length)" type="double"/>
    <param name="RRT/search_radius" value="$(arg search_radius)" type="double"/>
    <param name="RRT/search_time" value="$(arg search_time)" type="double"/>
    <param name="RRT/max_tree_node_nums" value="$(arg max_tree_node_nums)" type="int"/>
    <!-- Các param khác giữ nguyên như cũ (RRT*, BRRT*, BRRT_Optimize...) -->
    <param name="RRT_Star/steer_length" value="$(arg steer_length)" type="double"/>
    <param name="RRT_Star/search_radius" value="$(arg search_radius)" type="double"/>
    <param name="RRT_Star/search_time" value="$(arg search_time)" type="double"/>
    <param name="RRT_Star/max_tree_node_nums" value="$(arg max_tree_node_nums)" type="int"/>
    <param name="RRT_Star/use_informed_sampling" value="$(arg use_informed_sampling)" type="bool"/>
    <param name="RRT_Star/use_GUILD_sampling" value="$(arg use_GUILD_sampling)" type="bool"/>
    <!-- ... BRRT, BRRT_Optimize ... -->
  </node>
</launch>