<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="global_env_pcd2_topic" value="/random_forest/all_map" />
  <arg name="map_size_x" default="300.0" />
  <arg name="map_size_y" default="300.0" />
  <arg name="map_size_z" default="50.0" />
  <arg name="origin_x" value="$(eval -arg('map_size_x') / 2.0)" />
  <arg name="origin_y" value="$(eval -arg('map_size_y') / 2.0)" />
  <arg name="obs_density_percentage" default="20.0" />
  <arg name="obs_num" value="$(eval int( (arg('map_size_x') * arg('map_size_y') / 112.0) * (lambda p: p + 0.5*p**2 + 0.333*p**3 + 0.25*p**4 + 0.2*p**5)(min(arg('obs_density_percentage')/100.0, 0.99)) ))" />
  <arg name="circle_num" value="$(arg obs_num)" />
  <arg name="ground_obstacle_probability" default="0.3" />
  <arg name="map_type" default="random_buildings" />
  <arg name="map_resolution" default="0.5" />

  <arg name="voxel_leaf_size" default="1.2" />

  <include file="$(find path_finder)/launch/map.launch" pass_all_args="false">
    <arg name="map_size_x" value="$(arg map_size_x)"/>
    <arg name="map_size_y" value="$(arg map_size_y)"/>
    <arg name="map_size_z" value="$(arg map_size_z)"/>
    <arg name="obs_num" value="$(arg obs_num)"/>
    <arg name="circle_num" value="$(arg circle_num)"/>
    <arg name="ground_obstacle_probability" value="$(arg ground_obstacle_probability)"/>
    <arg name="map_type" value="$(arg map_type)"/>
    <arg name="map_resolution" value="$(arg map_resolution)"/>
  </include>

  <arg name="origin_z" value="-1.0" />
  <arg name="resolution" value="0.5" />

  <arg name="steer_length" value="1" />
  <arg name="search_radius" value="60.0" />
  <arg name="search_time" value="5.0" />
  <arg name="max_tree_node_nums" value="50000" />     

  <arg name="use_informed_sampling" value="true" />
  <arg name="use_GUILD_sampling" value="false" />
  <arg name="run_rrt" value="false" />
  <arg name="run_rrt_star" value="false" />
  <arg name="run_rrt_sharp" value="false" />
  <arg name="run_brrt" value="true" />
  <arg name="run_brrt_star" value="false" />
  <arg name="run_brrt_optimize" value="true" />
  <arg name="run_bg_brrt" value="true" />

  <arg name="brrt_optimize_p3" default="0.1" />
  <arg name="brrt_optimize_u_p" default="0.5" />
  <arg name="brrt_optimize_p1" default="1.0" />
  <arg name="brrt_step" default="5.0" />
  <arg name="brrt_alpha" default="0.5" />
  <arg name="brrt_beta" default="1.0" />
  <arg name="brrt_gamma" default="1.0" />
  <arg name="brrt_max_iteration" default="200000" />
  <arg name="brrt_enable_2d" default="false" />

  <!-- BRRT_Optimize tuning parameters (swept by run_param_sweep.sh) -->
  <arg name="brrt_eta_stagn"            default="0.50" />
  <arg name="brrt_cylinder_radius"      default="10.0" />
  <arg name="brrt_epsilon_h"            default="0.02" />
  <arg name="brrt_rho_min"              default="0.05" />
  <arg name="brrt_rho_max"              default="0.90" />
  <arg name="brrt_rho_init"             default="0.50" />
  <arg name="brrt_heuristic_cache_size" default="5000" />

  <arg name="step_by_step_vis" default="false" />
  <arg name="step_delay_ms" default="100" />
  <arg name="input_param" default="$(find path_finder)/../../brrt_input.json" />
  <arg name="output_result" default="$(find path_finder)/../../evaluation/result.json" />

  <!-- use_fixed_start_goal:=false  → sample random free points with min distance -->
  <arg name="use_fixed_start_goal" default="true" />
  <arg name="start_x" default="-80.0" />
  <arg name="start_y" default="-80.0" />
  <arg name="start_z" default="1.5" />
  <arg name="goal_x"  default="80.0" />
  <arg name="goal_y"  default="80.0" />
  <arg name="goal_z"  default="1.5" />
  <!-- Reject (or re-sample in random mode) if ||goal-start|| < this -->
  <arg name="min_start_goal_dist" default="50.0" />
  <!-- With fixed start/goal, 1 trial is enough for visual check; raise for stats -->
  <arg name="number_test_times" default="1" />
  <arg name="visualize_paths" default="true" />
  <!-- Keep node alive after planning so RViz can show start/goal/paths -->
  <arg name="hold_after_test_sec" default="30.0" />

  <node pkg="path_finder" type="path_finder" name="path_finder_node" output="screen" required="true">
    <remap from="/global_cloud" to="$(arg global_env_pcd2_topic)"/>

    <param name="use_fixed_start_goal" value="$(arg use_fixed_start_goal)" type="bool"/>
    <param name="start_x" value="$(arg start_x)" type="double"/>
    <param name="start_y" value="$(arg start_y)" type="double"/>
    <param name="start_z" value="$(arg start_z)" type="double"/>
    <param name="goal_x"  value="$(arg goal_x)"  type="double"/>
    <param name="goal_y"  value="$(arg goal_y)"  type="double"/>
    <param name="goal_z"  value="$(arg goal_z)"  type="double"/>
    <param name="min_start_goal_dist" value="$(arg min_start_goal_dist)" type="double"/>
    <param name="number_test_times" value="$(arg number_test_times)" type="int"/>
    <param name="visualize_paths" value="$(arg visualize_paths)" type="bool"/>
    <param name="hold_after_test_sec" value="$(arg hold_after_test_sec)" type="double"/>

    <param name="input_param" value="$(arg input_param)" type="string"/>
    <param name="output_result" value="$(arg output_result)" type="string"/>
    <param name="run_rrt" value="$(arg run_rrt)" type="bool"/>
    <param name="run_rrt_star" value="$(arg run_rrt_star)" type="bool"/>
    <param name="run_rrt_sharp" value="$(arg run_rrt_sharp)" type="bool"/>
    <param name="run_brrt" value="$(arg run_brrt)" type="bool"/>
    <param name="run_brrt_star" value="$(arg run_brrt_star)" type="bool"/>
    <param name="run_brrt_optimize" value="$(arg run_brrt_optimize)" type="bool"/>
    <param name="run_brrt_case3" value="$(arg run_brrt_optimize)" type="bool"/>
    <param name="run_bg_brrt" value="$(arg run_bg_brrt)" type="bool"/>
    <param name="BRRT_Optimize/enable2d" value="$(arg brrt_enable_2d)" type="bool"/>
    
    <param name="BPBG_RRT/steer_length" value="$(arg steer_length)" type="double"/>
    <param name="BPBG_RRT/search_time" value="$(arg search_time)" type="double"/>
    <param name="BPBG_RRT/max_tree_node_nums" value="$(arg max_tree_node_nums)" type="int"/>
    <param name="BPBG_RRT/heuristic_probability_P" value="0.1" type="double"/>
    <param name="BPBG_RRT/bg_weight" value="0.5" type="double"/>
    <param name="BPBG_RRT/bg_d_scale" value="100.0" type="double"/>

    <param name="occ_map/origin_x" value="$(arg origin_x)" type="double"/>
    <param name="occ_map/origin_y" value="$(arg origin_y)" type="double"/>
    <param name="occ_map/origin_z" value="$(arg origin_z)" type="double"/>
    <param name="occ_map/map_size_x" value="$(arg map_size_x)" type="double"/>
    <param name="occ_map/map_size_y" value="$(arg map_size_y)" type="double"/>
    <param name="occ_map/map_size_z" value="$(arg map_size_z)" type="double"/>
    <param name="occ_map/resolution" value="$(arg resolution)" type="double"/>

    <!-- Downsample -->
    <param name="voxel_leaf_size" value="$(arg voxel_leaf_size)" type="double"/>

    <!-- Planner params -->
    <param name="RRT/steer_length" value="$(arg steer_length)" type="double"/>
    <param name="RRT/search_radius" value="$(arg search_radius)" type="double"/>
    <param name="RRT/search_time" value="$(arg search_time)" type="double"/>
    <param name="RRT/max_tree_node_nums" value="$(arg max_tree_node_nums)" type="int"/>
    <!-- Các param khác giữ nguyên như cũ (RRT*, BRRT*, BRRT_Optimize...) -->
    <param name="RRT_Star/steer_length" value="$(arg steer_length)" type="double"/>
    <param name="RRT_Star/search_radius" value="$(arg search_radius)" type="double"/>
    <param name="RRT_Star/search_time" value="$(arg search_time)" type="double"/>
    <param name="RRT_Star/max_tree_node_nums" value="$(arg max_tree_node_nums)" type="int"/>
    <param name="RRT_Star/use_informed_sampling" value="$(arg use_informed_sampling)" type="bool"/>
    <param name="RRT_Star/use_GUILD_sampling" value="$(arg use_GUILD_sampling)" type="bool"/>

    <!-- BRRT_Optimize tuning parameters -->
    <param name="BRRT_Optimize/alpha"               value="$(arg brrt_alpha)"               type="double"/>
    <param name="BRRT_Optimize/eta_stagn"            value="$(arg brrt_eta_stagn)"           type="double"/>
    <param name="BRRT_Optimize/cylinder_radius_factor" value="$(arg brrt_cylinder_radius)"  type="double"/>
    <param name="BRRT_Optimize/epsilon_h"            value="$(arg brrt_epsilon_h)"           type="double"/>
    <param name="BRRT_Optimize/rho_min"              value="$(arg brrt_rho_min)"             type="double"/>
    <param name="BRRT_Optimize/rho_max"              value="$(arg brrt_rho_max)"             type="double"/>
    <param name="BRRT_Optimize/rho_init"             value="$(arg brrt_rho_init)"            type="double"/>
    <param name="BRRT_Optimize/heuristic_cache_size" value="$(arg brrt_heuristic_cache_size)" type="int"/>
  </node>
</launch>
